@font-face{
  font-family:'digital-clock-font';
  src: url('/projects/pong/assets/digital-7/digital-7-(mono).ttf');
}

body {
  background-color: darkgreen;
  display: flex;
}

.board {
  width: 750px;
  height: 480px;
  border: 1px solid white;
  background-color: black;
  position: relative;
}

.gameItem {
  /* positioning */
  position: absolute;
}

.paddles {
  /* appearance */
  width: 20px;
  height: 80px;
  border-radius: 5px;
}

#paddleLeft {
  /* appearance */
  background-color: cyan;
  box-shadow: 0px 0px 0px 3px teal inset;

  /* positioning */
  left: 50px;
  top: 180px;
}

#paddleRight {
  /* appearance */
  background-color: hotpink;
  box-shadow: 0px 0px 0px 3px maroon inset;

  /* positioning */
  left: 630px;
  top: 180px;
}

.balls {
  /* appearance */
  width: 20px;
  height: 20px;
  border-radius: 10px;
  background-color: fuchsia;
  text-align: center;
  
  /* positioning */
  left: 340px;
  top: 210px;
}

.ballPit {
  background-color: red;
}

#ball {
  /* appearance */
  width: 20px;
  height: 20px;
  border-radius: 10px;
  background-color: fuchsia;
  
  /* positioning */
  left: 340px;
  top: 210px;
}

#cheatIcon {
    /* appearance */
    width: 50px;
    height: 50px;
    border-radius: 30px;
    background-color: darkgrey;
    border-style: solid;
    border-color: grey;
    border-width: 4px;

    /* positioning */
    left: 10px;
    top: 10px;
}

.scoreboard {
  /* appearance */
  background-color: black;
  width: 650px;
  height: 40px;
  /* display: table; */
  border-radius: 5px;
  border: 2px solid black;

  /* positioning */
  left: 50px;
  top: 10px;
  position: relative;
}

.scores {
  color: white;
  font-family: "Comic Sans MS";
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
  font-size: 15px;
  padding-left: 10px;
  padding-right: 10px;
  /* margin: 0px; */
  position: static;
  column-span: 7;
  /* display: inline-block; */
  /* display: table-row-group; */
  /* list-style-type: none; */
}

.scores span {
  font-family:"digital-clock-font";
}

#p1 {
  /* positioning */
  text-align: left;
  /* display: table-cell; */
  /* left: 50px; */
}

#bounces {
  /* positioning */
  /* padding-left: 0px; */
  text-align: center;
  /* display: table-cell; */
  /* left: 300px; */
}

#p2 {
  /* positioning */
  text-align: right;
  /* display: table-cell; */
  /* left: 630px; */
}

.tallyMark {
  padding-top: 20px;
}

.p1TallyMark {
  /* background-color: cyan; */
  background-color: darkblue;
}

.p2TallyMark {
  /* background-color: red; */
  background-color: maroon;
}

.winTallyMark {
  /* background-color: #03C03C; */
  background-color: limegreen;
  /* box-shadow: 0px 0px 0px 3px lime inset; */
}

.speeds {
  font-family: "Comic Sans MS";
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
  list-style-type: none;
  padding: 0;
  display: block;
}
            
/* Cheat Mode Interface */
.content {
  flex: 1;
  padding: 15px;
}

.dashboard {
  background-color: #333;
  /* margin: auto; */
  margin-left: 40px;
  /* width: 500px;
  height: auto; */
  position: relative;
  border: 1px solid white;
  border-radius: 10px;
}

/* .center {
    margin: 0;
    position: absolute;
    top: 47.5%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
} */

.relay {
  position: block;
  display: flex;
  margin: 15px;
  margin-bottom: 25px;
}

.relay p {
  position: inline;
  color: white;
  font-size: 15pt;
  top: 7.5px;
  margin-top: auto;
  margin-bottom: auto;
  /* font-family: "Comic Sans MS"; */
}

button {
  height: 60px;
  width: 60px;
  border-radius: 100%;
  margin-right: 15px;
  /* border-width: 2px;
  border-color: black;
  border-style: solid;   */
  border: none;
  cursor: pointer;
  outline: none;

  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */

  background-color: rgb(150, 0, 150);
  box-shadow: 0px 10px;
}

button:active {
  background-color: fuchsia;
  box-shadow: 0px 4px;
  transform: translateY(6px);
}

.activated {
  color: rgb(0, 165, 0);
  background-color: rgb(0, 255, 0);
}

.activated:hover {
  color: rgb(0, 110, 0);
  background-color: rgb(0, 200, 0);
}

.activated:active {
  color: rgb(0, 70, 0);
  background-color: rgb(0, 160, 0);
}

.deactivated {
  color: rgb(165, 0, 0);
  background-color: rgb(255, 0, 0);
}

.deactivated:hover {
  color: rgb(110, 0, 0);
  background-color: rgb(200, 0, 0);
}

.deactivated:active {
  color: rgb(70, 0, 0);
  background-color: rgb(160, 0, 0);
}

.disabled {
  color: rgb(83, 83, 83);
  background-color: rgb(128, 128, 128);
}

.disabled:active {
  color: rgb(83, 83, 83);
  background-color: grey;
}

.on {
  background-color: rgb(0, 100, 0);
}

.off {
  background-color: rgb(100, 0, 0);
}