
body {
  background-color: darkgreen;
}

#board {
  width: 700px;
  height: 440px;
  border: 1px solid white;
  background-color: black;
  position: relative;
}

.gameItem {
  /* appearance */
  width: 20px;
  height: 80px;
  border-radius: 5px;

  /* positioning */
  position: absolute;
}

.text {
  font-family: "Comic Sans MS";
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
  text-align: center;
  display: block;
}

#p1 {
  margin-top: 9px;
}

#p2 {
  margin-top: 9px;
}

#paddleLeft {
  /* appearance */
  background-color: teal;

  /* positioning */
  left: 50px;
  top: 180px;
}

#paddleRight {
  /* appearance */
  background-color: maroon;

  /* positioning */
  left: 630px;
  top: 180px;
}

#ball {
  /* appearance */
  width: 20px;
  height: 20px;
  border-radius: 10px;
  background-color: fuchsia;
  
  /* positioning */
  left: 340px;
  top: 210px;
}

#cheatIcon {
    /* appearance */
    width: 50px;
    height: 50px;
    border-radius: 30px;
    background-color: darkgrey;
    border-style: solid;
    border-color: grey;
    border-width: 4px;

    /* positioning */
    left: 10px;
    top: 10px;
}