
body {
  background-color: darkgreen;
}

#board {
  width: 700px;
  height: 440px;
  border: 1px solid white;
  background-color: black;
  position: relative;
}

.gameItem {
  /* appearance */
  width: 20px;
  height: 80px;
  border-radius: 5px;

  /* positioning */
  position: absolute;
  top: 180px;
}

#paddleLeft {
  /* appearance */
  background-color: teal;

  /* positioning */
  left: 50px;
}

#paddleRight {
  /* appearance */
  background-color: maroon;

  /* positioning */
  left: 630px;
}

#ball {
  /* appearance */
  width: 20px;
  height: 20px;
  border-radius: 10px;
  background-color: fuchsia;

  /* positioning */
  left: 340px;
  top: 210px;
}